@tailwind base;
@tailwind components;
@tailwind utilities;

div#circle{
    animation: background 2s infinite forwards ease-in-out;
    box-shadow: 2px 2px 20px #1f1;
}

@keyframes background {
    0%{
        box-shadow: 2px 2px 20px #1f1;
    }
    20%{
        box-shadow: 5px 5px 40px #1f1;
    }
    40%{
        box-shadow: 7px 7px 60px #1f1;
    }
    60%{
        box-shadow: 8px 8px 80px #1f1;
    }
    80%{
        box-shadow: 10px 10px 40px #1f1;
    }
    100%{
        box-shadow: 4px 4px 20px #1f1;
    }
 
}